body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:745px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:745px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:36px;
  top:140px;
  width:317px;
  height:454px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:454px;
}
#u3 {
  position:absolute;
  left:2px;
  top:219px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:140px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:300px;
  top:140px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:47px;
  top:181px;
  width:193px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:181px;
  width:122px;
  height:16px;
  color:#AEAEAE;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:68px;
  top:207px;
  width:157px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
