body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:745px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:745px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:35px;
  top:138px;
  width:319px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:38px;
  top:142px;
  width:13px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:93px;
  top:245px;
  width:217px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:200px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:217px;
  height:1px;
}
#u7 {
  position:absolute;
  left:119px;
  top:232px;
  width:114px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:96px;
  top:224px;
  width:109px;
  height:16px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:409px;
  top:190px;
  width:300px;
  height:120px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:237px;
  top:224px;
  width:79px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:93px;
  top:353px;
  width:217px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:200px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:217px;
  height:1px;
}
#u15 {
  position:absolute;
  left:167px;
  top:331px;
  width:154px;
  height:32px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:93px;
  top:331px;
  width:55px;
  height:16px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:287px;
  top:141px;
  width:63px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20 {
  position:absolute;
  left:62px;
  top:142px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:220px;
  top:265px;
  width:93px;
  height:39px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:90px;
  top:303px;
  width:217px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:200px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:217px;
  height:1px;
}
#u25 {
  position:absolute;
  left:90px;
  top:278px;
  width:110px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
